* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background: #1F2937;
    color: white;
}

.left-items {
    font-size: 24px;
    font-weight: bold;
}

.right-items {
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

/* main-section-1 */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: #1F2937;
    color: white;
}

.left-align {
    width: 70vh;
    display: flex;
    flex-flow: row wrap;
    margin-left: 200px;
    margin-bottom: 100px;
}

.right-align {
    display: flex;
    padding: 90px 100px;
    margin-right: 100px;
}

.right-align img {
    width: 70vh;
    margin-left: 60px;
    margin-bottom: 100px;
    border-radius: 10px;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 28px;
}

button {
    background: #3882F6;
    padding: 10px 40px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* main-section-2 */


.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.container-2 h1 {
    text-align: center;
    margin: 50px;  
}

.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

ul div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul p {
    text-align: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border:3px solid #3882F6;
    border-radius: 10px;
}

.square img {
    width: 160px;
    height: 160px;
    border: 1px solid #3882F6;
    border-radius: 10px;
}

.subtext {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main-section-3 */

.container-3 {
    display: flex;
    padding: 150px 550px;
    background: #E5E7EB;
    font-style: italic;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px; 
}

.quote h3 {
    align-self: flex-end;
    font-size: 36px;
}

/* main-section-4 */
.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-4 {
    background: #3882F6;
    padding: 30px 200px;
    margin: 96px 48px;
    border-radius: 10px;
    color: white;
}

.main-4 div {
    display: flex;
    gap: 100px;
    font-size: 24px;
}

.main-4 div:first-child {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
}

.main-4 button {
    border: 1px solid white;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 20px;
}

/* footer */
.navigation.footer {
    padding: 40px;
}